#wrapper
  navbar
  navbarside
  #page-wrapper
    #page-inner
      div(ui-view='')
#footer-sec.text-center
  | &copy; 2016 Backbase Hackathon | Tabs over Spaces | Powered by &nbsp;
  a(href='http://www.auth0.com/', target='_blank')
    img(src='https://cdn.auth0.com/styleguide/latest/lib/logos/img/badge.png', width='17px', height='auto', style='margin-right: 5px;')
    | Auth0
